---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Altuğ">
  <h1 class="text-center text-4xl font-bold mb-4">About Me</h1>
  <img
    src="/images/me.jpg"
    alt="My picture"
    class="mx-auto mb-4 rounded-full w-48 h-48 object-cover object-center"
  />
  <p class="mb-4">
    My name is Altuğ. I am a software engineer working in Eindhoven,
    Netherlands. I like <a
      class="text-blue-700 dark:text-blue-500 hover:underline"
      href="/projects">building applications</a
    > on technologies that I find interesting, and automating things with
    software. I am also a big fan of <a
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-700 dark:text-blue-500 hover:underline"
      href="https://github.com/altugbakan/">open-source</a
    > software. I have worked in various fields, including web development,
    embedded systems, and application development.
  </p>
  <p class="mb-4">
    Besides programming, I like to watch movies, play video games, and read
    books. I also like to travel and take photos. I write about my experiences
    and thoughts on software and various other things on my <a
      class="text-blue-700 dark:text-blue-500 hover:underline"
      href="/blog">blog</a
    >.
  </p>
  <p class="mb-4">
    You can reach me by sending an email to <span class="font-bold italic"
      >mail</span
    > at <span class="font-bold italic">alt.ug</span> for anything you would
    like to talk about.
  </p>
  <p>
    If you want to know more about my professional experience, you can find more
    information on my <a
      class="text-blue-700 dark:text-blue-500 hover:underline"
      href="/content/resume.pdf">resume</a
    >.
  </p>
</BaseLayout>
