---
import Socials from "../components/Socials.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Altuğ's Blog">
  <section class="mx-auto">
    <h1 class="text-5xl my-8 font-bold text-center">Hi, I'm Altuğ</h1>
    <h3 class="my-4 text-lg">
      I'm a software engineer building
      <a
        class="text-blue-700 dark:text-blue-500 hover:underline"
        href="https://github.com/altugbakan/">
        open-source projects</a
      >
       and
      <a
      class="text-blue-700 dark:text-blue-500 hover:underline"
      href="/blog/"
      >blogging</a>
      about my experiences.
    </h3>
    <Socials />
  </section>
</BaseLayout>
