---
import LatestPosts from "../components/LatestPosts.astro";
import Socials from "../components/Socials.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Altuğ Bakan">
  <section class="mx-auto">
    <h1 class="text-5xl my-8 font-bold text-center">Hi, I'm Altuğ</h1>
    <p class="my-4 text-lg">
      I'm a software engineer building
      <a
        class="text-blue-700 dark:text-blue-500 hover:underline"
        href="/projects"
        aria-label="open-source projects"
      >
        open-source projects</a
      >
      and
      <a
        class="text-blue-700 dark:text-blue-500 hover:underline"
        href="/blog"
        aria-label="blogging">blogging</a
      >
      about my experiences.
    </p>
    <Socials />
  </section>
  <section class="mt-8">
    <h1 class="text-3xl font-bold mb-5">Latest Posts</h1>
    <LatestPosts count={3} />
  </section>
</BaseLayout>
