---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Altuğ's Portfolio">
  <div class="hero">
    <div class="hero-content">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold text-center">Hi, I'm Altuğ</h1>
        <p class="py-6">
          I'm a versatile software engineer with experience in embedded systems,
          desktop applications, frontend, and backend development.
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
