---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Altuğ's Resume">
    <h1 class="text-center text-4xl font-bold mb-4">Altuğ's Resume</h1>
    <p>Coming soon...</p>
</BaseLayout>
