<footer class="mt-auto pt-4">
  <hr class="my-4 h-0.5 border-t-0 bg-slate-50 dark:bg-zinc-600" />
  <div class="mb-4">
    <p class="text-center text-sm text-gray-500 dark:text-gray-400">
      © 2023 Altuğ Bakan
    </p>
  </div>
</footer>
