---
import icon from "../assets/icon.png";
---

<nav class="flex flex-row justify-between m-4">
  <div class="flex-1">
    <a class="flex flex-row gap-2" href="/">
      <img src={icon} height="32px" width="32px" />
      <p class="font-rubik flex items-center font-semibold text-2xl">alt.ug</p>
    </a>
  </div>
  <div class="flex space-x-4 mr-5">
    <a class="link" href="/about/">
      About
    </a>
    <a class="hover:underline underline-offset-4 text-xl" href="/blog/">Blog</a>
    <a class="hover:underline underline-offset-4 text-xl" href="/projects/">Projects</a>
  </div>
</nav>
