---
import { Icon } from "astro-icon";
---

<script>
  function toggleTheme() {
    const html = document.querySelector("html")!;
    const isThemeDark = html.classList.toggle("dark");
    localStorage.setItem("theme", isThemeDark ? "dark" : "");
  }

  const button = document.querySelector("[toggle-theme-button]")!;
  button.addEventListener("click", toggleTheme);
</script>

<nav class="flex flex-row justify-between items-center mt-4">
  <section class="flex-1">
    <a class="flex flex-row gap-2 mr-auto" href="/">
      <img
        src="/images/icon.png"
        alt="alt.ug Logo"
        height="32px"
        width="32px"
      />
      <p class="font-rubik flex items-center font-semibold text-2xl">alt.ug</p>
    </a>
  </section>
  <section class="flex gap-4 flex-1 justify-around">
    <a class="hover:underline underline-offset-4 text-xl" href="/about/">
      About
    </a>
    <a class="hover:underline underline-offset-4 text-xl" href="/blog/">Blog</a>
    <a class="hover:underline underline-offset-4 text-xl" href="/projects/">
      Projects
    </a>
  </section>
  <section class="flex-1">
    <button class="flex align-center flex-1 ml-auto" toggle-theme-button>
      <Icon name="ph:moon-fill" class="w-6 h-6 hidden dark:block" />
      <Icon name="ph:sun-fill" class="w-6 h-6 block dark:hidden" />
    </button>
  </section>
</nav>
