---
import { Icon } from "astro-icon";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<script>
  function toggleTheme() {
    const html = document.querySelector("html")!;
    const isThemeDark = html.classList.toggle("dark");
    localStorage.setItem("theme", isThemeDark ? "dark" : "");
  }

  const button = document.querySelector("[toggle-theme-button]")!;
  button.addEventListener("click", toggleTheme);
</script>

<nav class={className}>
  <div class="flex flex-row justify-between items-center mt-4">
    <section class="flex-1">
      <a class="flex flex-row gap-2 mr-auto" href="/" aria-label="alt.ug">
        <img
          src="/images/icon.png"
          alt="alt.ug Logo"
          height="32px"
          width="32px"
          class="sm:block hidden"
        />
        <p
          class="font-rubik flex items-center font-semibold sm:text-2xl text-lg"
        >
          alt.ug
        </p>
      </a>
    </section>
    <section class="flex gap-4 flex-1 justify-around">
      <a
        class="hover:underline underline-offset-4 text-xl"
        href="/about/"
        aria-label="About Altuğ"
      >
        About
      </a>
      <a
        class="hover:underline underline-offset-4 text-xl"
        href="/blog/"
        aria-label="Altuğ's Blog">Blog</a
      >
      <a
        class="hover:underline underline-offset-4 text-xl"
        href="/projects/"
        aria-label="Altuğ's Projects"
      >
        Projects
      </a>
    </section>
    <section class="flex-1">
      <button
        class="flex align-center flex-1 ml-auto"
        toggle-theme-button
        aria-label="Toggle theme"
      >
        <Icon name="ph:moon-fill" class="w-6 h-6 hidden dark:block" />
        <Icon name="ph:sun-fill" class="w-6 h-6 block dark:hidden" />
      </button>
    </section>
  </div>
  <hr class="my-4 h-0.5 border-t-0 bg-slate-300 dark:bg-zinc-600" />
</nav>
