<p class="flex flex-row gap-4 justify-center">
  <a
    class="hover:scale-110"
    href="https://github.com/altugbakan"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Altuğ's GitHub"
  >
    <span class="icon-[mdi--github] text-4xl dark:fill-white" />
  </a>
  <a
    class="hover:scale-110"
    href="https://twitter.com/altugbakan"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Altuğ's Twitter"
  >
    <span class="icon-[mdi--twitter] text-4xl dark:fill-white" />
  </a>
  <a
    class="hover:scale-110"
    href="https://www.linkedin.com/in/altugbakan/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Altuğ's LinkedIn"
  >
    <span class="icon-[mdi--linkedin] text-4xl dark:fill-white" />
  </a>
  <a
    class="hover:scale-110"
    href="mailto:mail@alt.ug"
    aria-label="Send an e-mail to Altuğ"
  >
    <span class="icon-[mdi--email] text-4xl dark:fill-white" />
  </a>
</p>
