---
import { Icon } from "astro-icon";
---

<p class="flex flex-row gap-4 justify-center">
  <a
    class="hover:scale-110"
    href="https://github.com/altugbakan"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Icon name="mdi:github" class="w-8 h-8 dark:fill-white" />
  </a>
  <a
    class="hover:scale-110"
    href="https://twitter.com/altugbakan"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Icon name="mdi:twitter" class="w-8 h-8 dark:fill-white" />
  </a>
  <a
    class="hover:scale-110"
    href="https://www.linkedin.com/in/altugbakan/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Icon name="mdi:linkedin" class="w-8 h-8 dark:fill-white" />
  </a>
  <a class="hover:scale-110" href="mailto:mail@alt.ug">
    <Icon name="mdi:email" class="w-8 h-8 dark:fill-white" />
  </a>
</p>
