---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<style>
  html.dark {
    @apply bg-zinc-900 from-zinc-900 to-zinc-800 text-white;
  }
</style>

<html
  lang="en"
  class="bg-slate-100 bg-gradient-to-br from-slate-100 to-slate-200 text-black dark:text-white"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Altuğ's Personal Webpage" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://alt.ug/" />
    <meta property="og:title" content="Altuğ Bakan" />
    <meta property="og:description" content="My personal website" />
    <meta property="og:image" content="https://alt.ug/meta.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://alt.ug/" />
    <meta property="twitter:title" content="Altuğ Bakan" />
    <meta property="twitter:description" content="My personal website" />
    <meta property="twitter:image" content="https://alt.ug/meta.png" />

    <script is:inline>
      let theme = localStorage.getItem("theme");

      if (theme === null) {
        theme = window?.matchMedia?.("(prefers-color-scheme:dark)")?.matches
          ? "dark"
          : "";
        localStorage.setItem("theme", theme);
      }

      if (theme) {
        document.querySelector("html").classList.add(theme);
      }
    </script>
  </head>

  <body class="max-w-2xl mx-auto flex flex-col min-h-screen px-2">
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
