---
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<style is:global>
  .post > h2 {
    @apply text-2xl font-bold mt-4 mb-2;
  }
  .post > p > a {
    @apply text-blue-500 hover:underline;
  }
</style>

<BaseLayout title={post.data.title}>
  <div class="post">
    <h1 class="text-4xl font-bold">{post.data.title}</h1>
    {
      post.data.tags && (
        <div class="mb-4 mt-1 flex flex-row gap-x-2">
          {post.data.tags.map((tag) => (
            <a
              href={`/tags/${tag}`}
              class="text-sm hover:underline text-gray-500"
            >
              {tag}
            </a>
          ))}
        </div>
      )
    }
    <slot />
  </div>
</BaseLayout>
