---
import Tags from "../components/Tags.astro";
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<style is:global>
  .post h2 {
    @apply text-2xl font-bold mt-4 mb-2;
  }
  .post h3 {
    @apply text-lg font-bold mt-3 mb-1;
  }
  .post p {
    @apply mb-4;
  }
  .post a {
    @apply text-blue-700 dark:text-blue-500 hover:underline;
  }
  .post code:not(pre code) {
    @apply bg-gray-300 dark:bg-gray-700 px-0.5 rounded;
  }
  .post pre {
    @apply p-2 rounded-lg mb-4;
  }
</style>

<BaseLayout
  title={post.data.title}
  image={`https://alt.ug/og/${post.slug}.png`}
>
  <h1 class="text-4xl font-bold">{post.data.title}</h1>
  <Tags
    tags={post.data.tags}
    className="text-gray-500 dark:text-gray-400 block mt-1 mb-4"
  />
  <div class="post">
    <slot />
  </div>
</BaseLayout>
